<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8" />
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:annotation-driven />

    <mvc:resources mapping="/css/*.css" location="/css/" />
    <mvc:resources mapping="/css/**/*.css" location="/css/" />
    <mvc:resources mapping="/js/**/*.js" location="/js/" />
    <mvc:resources mapping="/fonts/*/*/*" location="/fonts/" />
    <mvc:resources mapping="/images/*" location="/images/"/>
    <mvc:resources mapping="/font-awesome/*/*" location="/font-awesome/"/>

    <!-- enable component scanning -->
    <context:component-scan base-package="com.claire.castle" />

    <!-- For Velocity -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <property name="cache" value="true" />
        <property name="prefix" value="" />
        <property name="suffix" value=".vm" />
        <property name="contentType" value="text/html;charset=utf-8" />
        <property name="dateToolAttribute" value="datetool" />
    </bean>
    <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="WEB-INF/vm/" />
        <property name="velocityPropertiesMap">
            <props>
                <prop key="input.encoding">UTF-8</prop>
                <prop key="output.encoding">UTF-8</prop>
                <prop key="velocimacro.library">macro/m.vm</prop>
                <prop key="velocimacro.library.autoreload">true</prop>
                <prop key="directive.foreach.counter.name">velocityCount</prop>
                <prop key="directive.foreach.counter.initial.value">0</prop>
            </props>
        </property>
    </bean>


</beans>