<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.claire.castle.db.mapper.UserMapper">
    <resultMap id="userResultMap" type="user">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="passwd" property="passwd" />
        <result column="email" property="email" />
    </resultMap>

    <insert id="addUser" parameterType="user">
        INSERT INTO
         user(username, passwd, email,register_time,level)
         VALUES(#{name}, #{passwd}, #{email},now(),1)
    </insert>

    <select id="getUserByName" parameterType="Map" resultType="user">
      SELECT id, username, passwd
          FROM user
          WHERE username = #{name}
      LIMIT 1
    </select>

    <select id="getUserByNameAndPasswd" parameterType="Map" resultType="user">
      SELECT id, username, passwd
          FROM user
          WHERE username = #{name}
          AND passwd = #{passwd}
      LIMIT 1
    </select>

</mapper>